@model G13WebApplication.Models.Tfc

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/varios.css" />
</head>
<h2 class="h3-custom">Apagar TFC</h2>
<hr />
<div class="container">

    <dl class="row" style="margin-left:2%">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TfcType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TfcType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TfcFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TfcFile)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" name="TfcId" value="@Model.TfcId" />
        <input type="submit" value="Apagar" class="btn btn-primary btn-blue-custom" />
    </form>
</div>
