@model IEnumerable<G13WebApplication.Models.Tfc>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/varios.css" />
</head>
<h2 class="h3-custom">Trabalhos Final de Curso</h2>
@if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value == "RUC")
{
    <p>
        <a asp-action="Create" class="a-custom">Criar Novo</a>
    </p>
    <div class="row" style="margin-top: 2%; margin-left: 1.4%">
        <form method="post" asp-controller="Tfcs" asp-action="ImportUpload" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-auto">
                    <!--<input type="file" id="reportfile" name="reportfile" class="file" />-->
                    <input type="file" class="custom-file-input" id="reportfile" name="reportfile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <label class="custom-file-label" for="reportfile">Lista de TFCs (excel)</label>
                </div>
                <div class="col-md-auto">
                    <input class="btn btn-primary mb-2 btncustom" type="submit" id="btnUpload" value="Adicionar" />
                </div>
            </div>
        </form>
    </div>
}else if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value == "Aluno")
{
    <a asp-controller="TfcProposals" asp-action="ProposeNewTfc" class="a-custom">Propor TFC Externo à lista</a>
}
<table class="table text-center" style="margin-top: 3%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TfcType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TfcFile)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TfcType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @if (item.TfcFile != null)
                    {
                        <a asp-action="OpenFile" asp-route-id="@item.TfcId" class="a-custom">Abrir ficheiro</a>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TfcId" class="a-custom">Abrir</a>
                    @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value == "RUC")
                    {
                        <a asp-action="Edit" asp-route-id="@item.TfcId" class="a-custom">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.TfcId" class="a-custom">Remover</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
