@model IEnumerable<G13WebApplication.Models.User>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/varios.css" />
</head>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <form class="form-inline ml-auto" asp-controller="Students" asp-action="Search" method="get">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="text" placeholder="Email" name="SearchString" aria-label="Search">
                    <input class="btn btn-primary mb-2 btncustom" type="submit" value="Filtrar" />
                </div>
            </form>
            @Html.ActionLink("Remover Filtro", "Search", "Students", null, new { @class = "btn btn-link" })
        </div>
    </div>

    <table class="table text-center" style="margin-top:2%">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Número de estudante
                </th>
                <th>
                    ID de Docente
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherId)
                    </td>
                    <td>
                        @Html.ActionLink("Perfil", "OtherProfile", "Users", new { id = item.UserId }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>